/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-theme.min
 *= require_self
 *= require_tree .
 */

#header {
	background-color: #cee3f8;
	color: #5f99cf;
	border-bottom: 1px solid black;
}

p.topheader{
	color: #5f99cf;
	font-size: 12px;
	text-align: left;
}

p.navbar-text {
	position: relative;
	margin: 0px 5px;
	padding: 0;
	color: gray;
}

#logo {
	width: 120px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 3px;
}

#tabmenu {
	list-style-type: none;
	white-space: nowrap;
	display: inline-block;
	vertical-align: bottom;
}

#tabmenu li {
	display: inline-block;
	background-color: white;
	border: 1px solid black;
	border-bottom: 1px solid white;
	padding: 2px 6px 0 6px;
	margin: 0px 3px;
}



div.container {


}

p.commentby {
	margin: 20px;
}

div.buttons {
	text-align: left;
	font-weight: bold;
}

#posts {
	font-size: medium;
	font-weight: normal;
	color: blue;
}

h1 {
	color: blue;
}





